<!--Events Section-->

<section id="events">
  <div class="container">
    <div class="section-header" style="text-align: center">
      <h2>Events</h2>
      <p>Here are some of our Events</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="event">
          <img
            src="../../assets/images/event.jpg"
            alt="Event 1"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="event-details.html">Event 1</a></h3>
            <p>Islamic event</p>
            <div class="social">
              <p>Date and Time</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="event">
          <img
            src="../../assets/images/event.jpg "
            alt="Event 2"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="event-details.html">Event 2</a></h3>
            <p>Political event</p>
            <div class="social">
              <p>Date and Time</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="event">
          <img
            src="../../assets/images/event.jpg "
            alt="Event 3"
            class="img-fluid"
          />
          <div class="details">
            <h3><a href="event-details.html">Event 3</a></h3>
            <p>Seminar about social media impact</p>
            <div class="social">
              <p>Date and Time</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
