<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/login" routerLinkActive="active">Login</a>
      <a mat-list-item routerLink="/signup" routerLinkActive="active">Signup</a>
      <a mat-list-item routerLink="/create-event" routerLinkActive="active"
        >Create Events</a
      >
      <a mat-list-item routerLink="/display-event" routerLinkActive="active"
        >Display Events</a
      >
      <a mat-list-item routerLink="/events" routerLinkActive="active">Events</a>
      <a mat-list-item routerLink="/speakers" routerLinkActive="active"
        >Event Speakers</a
      >
      <a mat-list-item routerLink="/schedule" routerLinkActive="active"
        >Event Schedule</a
      >
      <a mat-list-item routerLink="/faq" routerLinkActive="active">FAQ</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active"
        >Contacts</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main content area -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
