<div class="row">
  <div class="col-lg-4 col-md-6" *ngFor="let event of events">
    <div class="event">
      <img
        [src]="getCoverImageUrl(event.coverImage)"
        alt="{{ event.title }}"
        class="img-fluid"
      />

      <div class="details">
        <h3>{{ event.title }}</h3>
        <p>Date and Time: {{ event.dateAndTime }}</p>
        <p>Duration: {{ event.duration }} minutes</p>
        <p>Registration Fee: ${{ event.registrationFee }}</p>
        <!-- <p>Join Event</p> -->
      </div>
    </div>
  </div>
</div>
