<!--Header-->
<!-- <header id="header">
  <div class="container">
    <div
      id="logo"
      class="pull-left"
      style="background-color: rgba(6, 12, 34, 0.8); padding: 15px"
    >
      <a href="#intro" class="scrollto">
        <img
          src="../../assets/images/logo1.jpeg"
          style="border-radius: 50%; height: 40px; width: 58px"
          alt=""
          title=""
        />
      </a>
      <nav id="nav-menu-container">
        <div id="menu-icon" (click)="toggleMenu()">&#9776;</div>
        <ul class="nav-menu" [class.show]="isMenuOpen">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header> -->

<!--Intro Section-->
<section id="intro">
  <div class="intro-container">
    <h1 class="mb-4 pb-0">
      The virtual<br /><br /><span>Event</span> platform
    </h1>
    <a
      href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
      class="venobox play-btn mb-4"
      data-vbtype="video"
      data-autoplay="true"
    ></a>
    <a routerLink="/login" class="about-btn scrollto">Log in</a>
  </div>
</section>
